body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #20b2aa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
 
}
header{
  text-align: center;
  color: black;
  margin: 10px;
  
}
.container {
  display:flex;
  justify-content:center;
  flex-direction:column;
  gap: 5px;
  width: 50vw;
  max-width: 600px;
  padding: 20px;
  margin: 25px auto;
  background-color: #e0e0e0; 
  border-radius: 20px;   
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label,p {
  display: block;
  margin-top: 20px;
  margin-left: 5px;
  color: black;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea,
button {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px;
  margin-top: 5px;
  border: none;
  background-color: #e0e0e0;
  border-radius: 10px; 
  box-shadow: inset 4px 4px 8px #b8b8b8, inset -4px -4px 8px #ffffff; 
}

input[type="radio"]:checked {

  background-color: red !important;
}

select,
textarea {
  resize: none; 
}

button {
  background-color:#7c2946; 
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: none;
  
}

button:hover {
  background-color: #A74663; 
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 10px #A74663, inset 4px 4px 8px #b8b8b8, inset -4px -4px 8px #ffffff; /* Focus indicator */
}
input[type="radio"]:focus,
input[type="checkbox"]:focus{
  outline: none;
  box-shadow: none;
}
